<div id="add-task">
    <div class="add-wrapper">
        <form id="add" class="input-group">
            <textarea [(ngModel)]="description" name="description" type="text-area" class="input-field"
                      placeholder="Task" maxlength="160"></textarea>
            <input [(ngModel)]="date" name="date" type="date" class="input-field" placeholder="Deadline" required
                   pattern="\d{2}.\d{2}.\d{4}">
            <input [(ngModel)]="progress" name="progress" type="number" class="input-field" min="1" max="100"
                   placeholder="Progess in %">
            <div class="button-wrapper">
                <button (click)="submitTask()" type="button" id="submit-button" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
