.root-container {
  height: 100vh;
  width: 100vw;
}

#app-container {
  height: 60vw;
  max-height: 800px;
  max-width: 1200px;
  background-color: #FFFFFF;
  box-shadow: 0 6px 28px 0 rgba(24, 52, 117, 0.2);
  padding-left: 0px;
  border-radius: 10px;
  display: flex;

  .oi {
    font-size: 12px;
    top: 0
  }
}

.side-bar {
  background-color: #173055;
  height: 100%;
  min-width: 60px;
  border-radius: 10px;
}

.icon {
  color: white;
  font-weight: 800;
}

.dot {
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto 30px auto;
  background-color: #2F4566;
}

.dot:hover {
  background: rgba(255, 255, 255, 0.2) none repeat scroll 0% 0%;
  cursor: pointer;
}

// --- list Content ---

#app-container {
  .todo-content {
    padding: 20px 20px 20px 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    overflow-x: auto;
  }

  .seperator {
    width: 100%;
    height: 5px;
    display: block;
    background-color: #D00808;
    border-radius: 10px;
  }

  .content-wrapper {
    flex-grow: 1;
    overflow-y: auto;
  }
}

@media (max-width: 800px) and (max-height: 800px) {

  body {
    font-size: 0.8rem;
  }
  #app-container {
    height: 100vh;
    width: 100vw;
    max-height: none;
    max-width: none;
  }

  .side-bar {
    border-radius: 0px;
    flex-grow: 1;
    padding: 20vh 0 20vh 0;
  }

  .dot {
    margin: 10vh auto 10vh auto;
    height: 40px;
    width: 40px;
  }

  .title {
    font-size: 2rem;
  }

  th {
    white-space: nowrap
  }

}
