<div id="toDoList">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Task</th>
                <th scope="col">Deadline</th>
                <th scope="col">Progress %</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="entry">
                <th scope="row">1</th>
                <td>Design Prototype</td>
                <td>01.05.2020</td>
                <td>100</td>
                <td><span onclick="edit(this)" class="show-icon oi oi-pencil"></span></td>
                <td><span onclick="deleteEntry(this)" class="show-icon oi oi-delete"></span>
                </td>
            </tr>
            <tr class="entry">
                <th scope="row">2</th>
                <td>Create Repository</td>
                <td>01.05.2020</td>
                <td>100</td>
                <td><span onclick="edit(this)" class="show-icon oi oi-pencil"></span></td>
                <td><span onclick="deleteEntry(this)" class="show-icon oi oi-delete"></span>
                </td>
            </tr>
            <tr class="entry">
                <th scope="row">3</th>
                <td>Implement HTML structure</td>
                <td>01.05.2020</td>
                <td>90</td>
                <td><span onclick="edit(this)" class="show-icon oi oi-pencil"></span></td>
                <td><span onclick="deleteEntry(this)" class="show-icon oi oi-delete"></span>
                </td>
            </tr>
            <tr class="entry">
                <th scope="row">4</th>
                <td>Implement styling</td>
                <td>01.05.2020</td>
                <td>90</td>
                <td><span onclick="edit(this)" class="show-icon oi oi-pencil"></span></td>
                <td><span onclick="deleteEntry(this)" class="show-icon oi oi-delete"></span>
                </td>
            </tr>
            <tr class="entry">
                <th scope="row">5</th>
                <td>Implement business logic</td>
                <td>01.05.2020</td>
                <td>90</td>
                <td><span onclick="edit(this)" class="show-icon oi oi-pencil"></span></td>
                <td><span onclick="deleteEntry(this)" class="show-icon oi oi-delete"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
