<div id="information">
    <div class="info-wrapper">
        <span class="oi oi-code"></span>
        <hr>
        <div class="contacts">
            <address>
                <a href="mailto:dummyemail@win.tu-berlin.de">Moritz Pörner</a> und <a
                    href="mailto:dummyemail@win.tu-berlin.de">Pascal
                Hofmann</a><br>
                <p>Technische Universität Berlin<br>Straße des 17. Juni 135<br>10623 Berlin<br>Deutschland</p>
            </address>
        </div>
    </div>
</div>
